# Токен от @BotFather
TELEGRAM_BOT_TOKEN=8967975508:AAHM9A1Uv_oZr6g5AFQihAglq2hbh9uUCIY

# ID чата, куда приходят заявки (ваш личный или группы)
TELEGRAM_CHAT_ID=123456789

# Порт локального сервера (необязательно)
PORT=3000
